@use '../elevation-shadow';
@use '../theme';
@use '../typography';
@use '../layout';


@mixin _logo-typography() {
  @include typography.base();

  font-size: 1.5rem;
  letter-spacing: 0.0625em;
}


:host {
  @include elevation-shadow.box-shadow(4);

  display: flex;
  position: fixed;
  box-sizing: border-box;
  top: 0rem;
  left: 0rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
  height: layout.$top-bar-height;
  align-items: center;
  background: var(theme.$background-elevation-4dp);
  z-index: 4;
}

:host([hidden]) {
  display: block;
}

.drawer-icon {
  margin-right: 0.5rem;

  &__svg {
    fill: var(theme.$on-background);
  }
}

.logo {
  @include _logo-typography();

  margin: 0rem;
  color: var(theme.$on-background);
}
