@use '../typography';
@use '../theme';


:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

.logo {
  display: block;
  margin: 4rem auto;
}

.slogan {
  @include typography.body();

  margin: 0rem;
  text-align: center;
  font-size: 2rem;
  color: var(theme.$on-background);
}
