@use '../theme';
@use '../typography';
@use '../elevation-shadow';
@use '../ripple';
@use './button-variables' as vars;


:host {
  display: inline-flex;
  height: 2.5rem;
}

:host([hidden]) {
  display: none;
}

:host(:focus) {
  outline: none;
}

.button {
  display: flex;
  position: relative;
  box-sizing: border-box;
  border: none;
  padding: 0.5rem;
  flex-basis: 100%;
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &--raised {
    @include elevation-shadow.box-shadow(2);
    @include elevation-shadow.transition();

    background-color: var(vars.$background-color, var(theme.$primary));

    &:hover,
    &:focus {
      @include elevation-shadow.box-shadow(8);
    }
  }

  & > * {
    pointer-events: none;
  }

  &__ripple {
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 100%;
    height: 100%;
    #{ripple.$color}: var(vars.$ripple-color, var(theme.$on-background));

    &--raised {
      #{ripple.$color}: var(vars.$ripple-color, var(theme.$on-primary));
    }
  }

  &__content {
    @include typography.button();

    display: flex;
    position: relative;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    color: var(vars.$foreground-color, var(theme.$on-background));

    &--raised {
      color: var(vars.$foreground-color, var(theme.$on-primary))
    }
  }
}
