@use '../theme';
@use '../svg-typography';


:host {
  display: block;
  width: 30rem;
  height: 22.5rem;
}

:host([hidden]) {
  display: none;
}

.chart {
  width: 100%;
  height: 100%;

  &__ref-line {
    stroke: var(theme.$on-background);
    stroke-opacity: 0.2;
  }

  &__bar {
    fill: var(theme.$on-background);

    &--0 {
      fill: var(theme.$chart-0);
    }

    &--1 {
      fill: var(theme.$chart-1);
    }

    &--2 {
      fill: var(theme.$chart-2);
    }

    &--3 {
      fill: var(theme.$chart-3);
    }

    &--4 {
      fill: var(theme.$chart-4);
    }

    &--5 {
      fill: var(theme.$chart-5);
    }

    &--6 {
      fill: var(theme.$chart-6);
    }

    &--7 {
      fill: var(theme.$chart-7);
    }

    &--8 {
      fill: var(theme.$chart-8);
    }

    &--9 {
      fill: var(theme.$chart-9);
    }

    &--10 {
      fill: var(theme.$chart-10);
    }

    &--11 {
      fill: var(theme.$chart-11);
    }

    &--12 {
      fill: var(theme.$chart-12);
    }

    &--13 {
      fill: var(theme.$chart-13);
    }

    &--14 {
      fill: var(theme.$chart-14);
    }

    &--15 {
      fill: var(theme.$chart-15);
    }

    &--16 {
      fill: var(theme.$chart-16);
    }

    &--17 {
      fill: var(theme.$chart-17);
    }

    &--18 {
      fill: var(theme.$chart-18);
    }

    &--19 {
      fill: var(theme.$chart-19);
    }
  }

  &__axis {
    fill: none;
    stroke: var(theme.$on-background);
  }

  &__tick {
    @include svg-typography.base();

    font-size: 16px;
    fill: var(theme.$on-background);

    &--x {
      text-anchor: middle;
      dominant-baseline: hanging;
    }

    &--y {
      text-anchor: end;
      dominant-baseline: middle;
    }
  }
}
