@use '../theme';
@use '../typography';
@use './variables';


@mixin _title() {
  @include typography.base();
  font-size: 1.25rem;
  font-weight: 400;
}

@mixin _tick() {
  @include typography.base();
  font-size: 1rem;
}

@mixin _legend-text() {
  @include typography.base();
  font-size: 1rem;
}


:host {
  display: grid;
  position: relative;
  grid-template-areas:
    'title title'
    'y-labels svg'
    '. x-labels'
    'legends legends';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

:host([hidden]) {
  display: block;
}

.title {
  @include _title();
  grid-area: title;
  margin: 0rem;
  padding-bottom: 1rem;
  text-align: center;
  color: var(theme.$on-background);
}

.content-aspect-ratio-box {
  grid-area: svg;

  &::before {
    content: '';
    display: block;
    padding-bottom: var(variables.$content-aspect-ratio, 67%);
  }
}

.svg {
  grid-area: svg;
  position: absolute;
  left: 0rem;
  top: 0rem;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.ref-line {
  stroke: var(theme.$on-background);
  stroke-opacity: 0.2;
  vector-effect: non-scaling-stroke;
}

.area {
  fill-opacity: 0.5;

  &--dashed {
    fill-opacity: 0.25;
  }

  &--0 {
    fill: var(theme.$chart-0);
  }

  &--1 {
    fill: var(theme.$chart-1);
  }

  &--2 {
    fill: var(theme.$chart-2);
  }

  &--3 {
    fill: var(theme.$chart-3);
  }

  &--4 {
    fill: var(theme.$chart-4);
  }

  &--5 {
    fill: var(theme.$chart-5);
  }

  &--6 {
    fill: var(theme.$chart-6);
  }

  &--7 {
    fill: var(theme.$chart-7);
  }

  &--8 {
    fill: var(theme.$chart-8);
  }

  &--9 {
    fill: var(theme.$chart-9);
  }

  &--10 {
    fill: var(theme.$chart-10);
  }

  &--11 {
    fill: var(theme.$chart-11);
  }

  &--12 {
    fill: var(theme.$chart-12);
  }

  &--13 {
    fill: var(theme.$chart-13);
  }

  &--14 {
    fill: var(theme.$chart-14);
  }

  &--15 {
    fill: var(theme.$chart-15);
  }

  &--16 {
    fill: var(theme.$chart-16);
  }

  &--17 {
    fill: var(theme.$chart-17);
  }

  &--18 {
    fill: var(theme.$chart-18);
  }

  &--19 {
    fill: var(theme.$chart-19);
  }
}

.line {
  fill: none;
  stroke: var(theme.$on-background);
  stroke-width: var(variables.$line-width, 0.0625rem);
  vector-effect: non-scaling-stroke;

  &--dashed {
    stroke-dasharray: 0.25rem 0.25rem;
  }

  &--0 {
    stroke: var(theme.$chart-0);
  }

  &--1 {
    stroke: var(theme.$chart-1);
  }

  &--2 {
    stroke: var(theme.$chart-2);
  }

  &--3 {
    stroke: var(theme.$chart-3);
  }

  &--4 {
    stroke: var(theme.$chart-4);
  }

  &--5 {
    stroke: var(theme.$chart-5);
  }

  &--6 {
    stroke: var(theme.$chart-6);
  }

  &--7 {
    stroke: var(theme.$chart-7);
  }

  &--8 {
    stroke: var(theme.$chart-8);
  }

  &--9 {
    stroke: var(theme.$chart-9);
  }

  &--10 {
    stroke: var(theme.$chart-10);
  }

  &--11 {
    stroke: var(theme.$chart-11);
  }

  &--12 {
    stroke: var(theme.$chart-12);
  }

  &--13 {
    stroke: var(theme.$chart-13);
  }

  &--14 {
    stroke: var(theme.$chart-14);
  }

  &--15 {
    stroke: var(theme.$chart-15);
  }

  &--16 {
    stroke: var(theme.$chart-16);
  }

  &--17 {
    stroke: var(theme.$chart-17);
  }

  &--18 {
    stroke: var(theme.$chart-18);
  }

  &--19 {
    stroke: var(theme.$chart-19);
  }
}

.dashed-divider {
  stroke: var(theme.$on-background);
  stroke-width: 0.0625rem;
  stroke-dasharray: 0.25rem 0.25rem;
  vector-effect: non-scaling-stroke;
}

.axes {
  fill: none;
  stroke: var(theme.$on-background);
  vector-effect: non-scaling-stroke;
}

.y-label-box {
  grid-area: y-labels;
  padding-right: 1rem;
  text-align: right;
}

.y-label {
  @include _tick();
  display: inline-block;
  position: relative;
  transform: translateY(-50%);
  color: var(theme.$on-background);
}

.x-label-box {
  grid-area: x-labels;
  padding-top: 1rem;
}

.x-label {
  @include _tick();
  display: inline-block;
  position: relative;
  transform: translateX(-50%);
  color: var(theme.$on-background);
}

.legends {
  grid-area: legends;
  padding-top: 1rem;

  &__content {
    display: flex;
    margin-right: -1rem;
    margin-bottom: -1rem;
    justify-content: center;
    flex-wrap: wrap;

    & > * {
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
  }
}

.legend {
  display: flex;
  align-items: center;

  &__dot {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    border-radius: 50%;

    &--0 {
      background-color: var(theme.$chart-0);
    }

    &--1 {
      background-color: var(theme.$chart-1);
    }

    &--2 {
      background-color: var(theme.$chart-2);
    }

    &--3 {
      background-color: var(theme.$chart-3);
    }

    &--4 {
      background-color: var(theme.$chart-4);
    }

    &--5 {
      background-color: var(theme.$chart-5);
    }

    &--6 {
      background-color: var(theme.$chart-6);
    }

    &--7 {
      background-color: var(theme.$chart-7);
    }

    &--8 {
      background-color: var(theme.$chart-8);
    }

    &--9 {
      background-color: var(theme.$chart-9);
    }

    &--10 {
      background-color: var(theme.$chart-10);
    }

    &--11 {
      background-color: var(theme.$chart-11);
    }

    &--12 {
      background-color: var(theme.$chart-12);
    }

    &--13 {
      background-color: var(theme.$chart-13);
    }

    &--14 {
      background-color: var(theme.$chart-14);
    }

    &--15 {
      background-color: var(theme.$chart-15);
    }

    &--16 {
      background-color: var(theme.$chart-16);
    }

    &--17 {
      background-color: var(theme.$chart-17);
    }

    &--18 {
      background-color: var(theme.$chart-18);
    }

    &--19 {
      background-color: var(theme.$chart-19);
    }
  }

  &__text {
    @include _legend-text();
    color: var(theme.$on-background);
  }
}
