@use '../theme';
@use '../typography';


@mixin _title() {
  @include typography.base();
  font-size: 1.25rem;
  font-weight: 400;
}

@mixin _legend() {
  @include typography.base();
  font-size: 1rem;
}


:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

.title {
  @include _title();
  margin: 0rem;
  text-align: center;
  color: var(theme.$on-background);
}

.main {
  display: flex;
  position: relative;
  padding: 1rem;
}

.pies {
  position: relative;
  flex-basis: 70%;

  &::before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  &__svg {
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 100%;
    height: 100%;
  }
}

.pie {
  /* empty */

  &--0 {
    fill: var(theme.$chart-0);
  }

  &--1 {
    fill: var(theme.$chart-1);
  }

  &--2 {
    fill: var(theme.$chart-2);
  }

  &--3 {
    fill: var(theme.$chart-3);
  }

  &--4 {
    fill: var(theme.$chart-4);
  }

  &--5 {
    fill: var(theme.$chart-5);
  }

  &--6 {
    fill: var(theme.$chart-6);
  }

  &--7 {
    fill: var(theme.$chart-7);
  }

  &--8 {
    fill: var(theme.$chart-8);
  }

  &--9 {
    fill: var(theme.$chart-9);
  }

  &--10 {
    fill: var(theme.$chart-10);
  }

  &--11 {
    fill: var(theme.$chart-11);
  }

  &--12 {
    fill: var(theme.$chart-12);
  }

  &--13 {
    fill: var(theme.$chart-13);
  }

  &--14 {
    fill: var(theme.$chart-14);
  }

  &--15 {
    fill: var(theme.$chart-15);
  }

  &--16 {
    fill: var(theme.$chart-16);
  }

  &--17 {
    fill: var(theme.$chart-17);
  }

  &--18 {
    fill: var(theme.$chart-18);
  }

  &--19 {
    fill: var(theme.$chart-19);
  }
}

.arrow {
  fill: none;
  stroke: var(theme.$on-background);
  stroke-opacity: 0.5;
  vector-effect: non-scaling-stroke;
}

.legends {
  position: relative;
  flex-basis: 15%;
}

.legend {
  @include _legend();
  position: absolute;
  top: 0rem;
  transform: translateY(-50%);
  color: var(theme.$on-background);

  &--left {
    right: 0.5rem;
    text-align: right;
  }

  &--right {
    left: 0.5rem;
  }
}

.not-available-message {
  @include typography.base();
  display: flex;
  position: absolute;
  left: 0rem;
  top: 0rem;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: var(theme.$on-background);

  &--hide {
    display: none;
  }
}
