@use '../elevation-shadow';
@use '../theme';
@use '../typography';


:host {
  @include elevation-shadow.box-shadow(3);

  display: block;
  margin-bottom: 1rem;
  padding: 4rem;
  background: var(theme.$background-elevation-3dp);
  text-align: center;
}

.text {
  @include typography.body();

  color: var(theme.$on-background);
}
