@function _name($dp) {
  @return --inno-elevation-background-color-#{$dp}dp;
}

$background-color-0dp: _name(0);
$background-color-1dp: _name(1);
$background-color-2dp: _name(2);
$background-color-3dp: _name(3);
$background-color-4dp: _name(4);
$background-color-5dp: _name(5);
$background-color-6dp: _name(6);
$background-color-7dp: _name(7);
$background-color-8dp: _name(8);
$background-color-9dp: _name(9);
$background-color-10dp: _name(10);
$background-color-11dp: _name(11);
$background-color-12dp: _name(12);
$background-color-13dp: _name(13);
$background-color-14dp: _name(14);
$background-color-15dp: _name(15);
$background-color-16dp: _name(16);
$background-color-17dp: _name(17);
$background-color-18dp: _name(18);
$background-color-19dp: _name(19);
$background-color-20dp: _name(20);
$background-color-21dp: _name(21);
$background-color-22dp: _name(22);
$background-color-23dp: _name(23);
$background-color-24dp: _name(24);
