@use '../theme';
@use '../elevation-shadow';


:host {
  @include elevation-shadow.box-shadow(3);

  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  padding: .5rem;
  background: var(theme.$background-elevation-3dp);
}

inno-button {
  margin: .5rem;
}
