@use '../layout';
@use '../user-theme';
@use '../typography';


:host {
  display: block;
  background-color: var(user-theme.$background-elevation-0dp);
}

:host([hidden]) {
  display: none;
}

.carousel-item {
  width: 100vw;
  height: calc(100vh - 4rem);
}

.image {
  width: 100%;
  height: 100%;
}
