@use '../layout';
@use '../theme';
@use '../typography';
@use '../line-chart-2' as line-chart;


:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.options {
  position: sticky;
  box-sizing: border-box;
  top: layout.$top-bar-height;
  height: calc(100vh - #{layout.$top-bar-height});
  padding: 2rem 1rem;
  overflow-y: auto;

  & > :not(:first-child) {
    margin-top: 2rem;
  }
}

.option {
  /* empty */

  &__label {
    @include typography.base();
    color: var(theme.$on-background);
  }

  &__chips {
    margin-top: 1rem;
  }
}

.chart-cards {
  display: flex;
  padding: 2rem 1rem;
  flex-direction: column;

  & > :not(:first-child) {
    margin-top: 2rem;
  }
}

.line-chart {
  #{line-chart.$content-aspect-ratio}: 33%;
}
