@use '../typography';
@use '../theme';
@use '../layout';


:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

.content {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  height: calc(100vh - 6rem);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: calc(1 / 16rem);
}

.chart-cards {
  @include typography.base();

  padding: 2rem 1rem;
  font-size: 1.5rem;
  flex-direction: column;

  & > * {
    margin-top: 2rem;
  }
}

.line-card {
  border-left: 2px solid var(theme.$carousel-indicator-inactive);
  grid-area: 1 / 2 / 3 / 3;
}

.line-chart>span[slot="title"] {
  font-size: 2.5rem;
  color: var(theme.$secondary-text);
}

.pie-chart>span[slot="title"] {
  font-size: 2.5rem;
  color: var(theme.$secondary-text);
}

.total-card {
  @include typography.base();

  padding: 2rem 1rem;
  font-size: 2.5rem;
  align-items: center;
  border-bottom: 2px solid var(theme.$carousel-indicator-inactive);
  display: flex;
  justify-content: space-between;
}

.total-text {
  color: var(theme.$secondary-text);
}

.total-num {
  color: var(theme.$on-background);
}
