@function _name($name) {
  @return --inno-theme-#{$name};
}


$background: _name('background');
$on-background: _name('on-background');

$primary: _name('primary');
$on-primary: _name('on-primary');

$separator: _name('separator');

$chart-0: _name('chart-0');
$chart-1: _name('chart-1');
$chart-2: _name('chart-2');
$chart-3: _name('chart-3');
$chart-4: _name('chart-4');
