@use '../theme';
@use '../elevation-shadow';


:host {
  display: block;
  position: fixed;
  left: 0rem;
  top: 0rem;
  width: 100%;
  height: 100%;
  z-index: 16;
}

:host([hidden]) {
  display: none;
}

.background {
  position: absolute;
  left: 0rem;
  top: 0rem;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  will-change: opacity;
}

.drawer {
  @include elevation-shadow.box-shadow(16);

  position: relative;
  box-sizing: border-box;
  padding-top: 1rem;
  width: 16rem;
  height: 100%;
  background-color: var(theme.$background-elevation-16dp);
  will-change: transform;

  &--freeze {
    pointer-events: none;
  }

  &__items {
    display: flex;
    flex-direction: column;
  }
}