@use '../theme';
@use '../typography';
@use '../ripple';


@mixin _content-typography() {
  @include typography.base();

  font-size: 1rem;
}


:host {
  display: block;
}

:host([hidden]) {
  display: none;;
}

:host(:focus) {
  outline: none;
}

.button {
  display: block;
  position: relative;
  border: none;
  padding: 0rem;
  width: 100%;
  height: 3rem;
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  & > * {
    pointer-events: none;
  }

  &__ripple {
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 100%;
    height: 100%;
    #{ripple.$color}: var(theme.$on-background);
  }

  &__content {
    @include _content-typography();

    display: flex;
    position: relative;
    box-sizing: border-box;
    padding: 0.25rem 0.5rem;
    padding-left: 10rem; // Make it obvious that the indentation is out of range
    width: 100%;
    height: 100%;
    align-items: center;
    color: var(theme.$on-background);

    &--indent-0 {
      padding-left: 0.5rem;
    }

    &--indent-1 {
      padding-left: 2rem;
    }

    &--indent-2 {
      padding-left: 3.5rem;
    }
  }
}

.expandIcon {
  fill: var(theme.$on-background);

  &--hide {
    transform: rotate(-90deg);
  }
}

.items {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &--hide {
    display: none;
  }

  &--freeze {
    pointer-events: none;
  }

  & > ::slotted(*) {
    flex-shrink: 0;
  }
}
